.hero {
  position: relative;
  background: url("../assets/hero.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.hero-container {
  margin-top: 130px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 80%;
  width: 81%;
  padding: 80px;
}

.hero-content {
  position: relative;
  z-index: 1;
  width: 64%;
  padding: 22px 30px;
  margin-bottom: 46.5px;
}

.hero-content h1 {
  font-size: 70px;
  margin: 12px 0;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 33px;
  letter-spacing: -0.2px;
}

.hero-content p {
  font-size: 29px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.hero-container .btn {
  font-size: 21px;
  background: #007bff;
  color: white;
  padding: 12px 60px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero-content .btn:hover {
  background: #0056b3;
}

.angles {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: -110px;
  left: 0;
  z-index: 20;
}

.bars {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}   

.left-bar, .right-bar {
    background-color: white;
    width: 22%;
    height: 120px;
}

.left-bar {
    transform-origin: top right;
}

.right-bar {
    transform-origin: top left;
    margin-left: auto;
}

.left-angle,
.right-angle {
  height: 120px;
  width: 50%;
  background: white;
}

.left-angle {
  transform: skewY(12deg);
  transform-origin: top right;
}

.right-angle {
  transform: skewY(-12deg);
  transform-origin: top left;
}
